<div class="footer-container">
    <footer class="wrapper h-card">
        <h3>
          <img src="/images/logo_codeandsupply_redtext_on_whiteshield.svg" class="u-logo" alt="Code &amp; Supply Logo"/>
          <span class="p-name">Code &amp; Supply Scholarship Fund, Inc.</span>
        </h3>
        <p>
          <span class="p-street-address">5648 Friendship Avenue</span>
          <span class="p-extended-address">Floor 3</span>
          <br/>
          <span class="p-locality">Pittsburgh</span>,
          <span class="p-region">Pennsylvania</span>
          <span class="p-postal-code">15206-3610</span>
          <br/>
          <span class="p-country-name">United States</span>
        </p>
        <p>
          <a href="http://codeandsupply.fund" class="u-url">codeandsupply.fund</a> ||
          <a href="mailto:scholarship@codeandsupply.co" class="u-email">scholarship@codeandsupply.co</a>
        </p>
        <p>
          Code &amp; Supply Scholarship Fund is a tax-exempt organization as described
          in &#167;501(c)3 of the United States Internal Revenue Code, EIN
          <code>81-4355004</code>. Donations to Code &amp; Supply Scholarship Fund, Inc.
          are tax-deductible, less the value of any goods or services received.
        </p>
    </footer>
</div>
