<!doctype html>
<html class="no-js" lang="en">
{{ partial "head.html" . }}
  <body>
  {{ partial "header.html" . }}
  {{ .Content }}
  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
  </body>
</html>
