<section class="bar background-pentagon no-mb" id="mailing-list">
<div class="container"><div class="row">
  <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://fund.us17.list-manage.com/subscribe/post?u=4ee22e8efdd43e6ebc4cee7bf&amp;id=e1be3b51d8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to Scholarship Fund updates</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4ee22e8efdd43e6ebc4cee7bf_e1be3b51d8" tabindex="-1" value=""></div>
    <div class="clear">
      <!-- <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">-->
      <button type="submit" class="button" name="subscribe" id="mc-embedded-subscribe"><i class="fa fa-envelope"></i> Subscribe</button>
    </div>
    </div>
    <p><small><i>Our mailing list is low traffic, 12 or fewer messages yearly.</i></small></p>
</form>
</div>

<!--End mc_embed_signup-->
</div></div>
</section>
